body {
  height: 100%;
  font-family: Helvetica;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

.h3-responsive{
  color: red;
}

h3 {
  font-family: Verdana;
  text-align: center;
}

/*Header*/
a {
  text-decoration: none;
  color: #000;
}
.site-header { 
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.site-identity {
  float: left;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: .7em 0 .3em 0;
  display: inline-block;
}

.site-identity img {
  max-width: 55px;
  float: left;
  margin: 0 10px 0 0;
}

.navigation {
  float: right;
}

.navigation ul, li {
  margin: 0; 
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin: 1.5em 1em 1em 1em;
}

a:link {
    color: black }
a:visited {
    color: black }
a:hover{
    transition: 0.9sec;
}


/*Footer*/
.footer-basic {
  padding:40px 0;
  background-color: #ccc;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:10.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid black;
  margin:0 8px;
  color:inherit;
  opacity:10.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:15px;
  color:black;
  margin-bottom:0;
}

.footer-basic .terms {
  margin-top:15px;
  text-align:center;
  font-size:14px;
  color:black;
  margin-bottom:0;
}

/*Page-Wrapper*/
.page-wrapper {
    min-height: 100%;
}
  
/*Carousel*/
.carousel-item{
        height:40rem;
        background:#777;
        color:white;
        position: relative;

    }
.carousel-container{
        position: absolute;
        bottom:0;
        left: 0;
        right: 0;
        padding-bottom: 10px;        
    }
.overlay-image{
        position: absolute;
        bottom:0;
        left: 0;
        right: 0;
        top: 0;
        background-position: center;
        background-size:cover;
    }


/*Signature Services*/
.container-fluid{
  background: #ECE0D1;
  padding:15px 9%;
  padding-bottom:100px;
}

.container-fluid .heading{
  text-align: center;
  padding-bottom: 15px;
  color: black;
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
  font-size:50px;
}

.container-fluid .box-container-fluid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap:15px;
}

.container-fluid .box-container-fluid .box{
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 30px 20px;
}

.container-fluid .box-container-fluid .box img{
  height: 80px;
}

.container-fluid .box-container-fluid .box h3{
  color:#444;
  font-size: 22px;
  padding: 10px 0;
}

.container-fluid .box-container-fluid .box p{
  color: #777;
  font-size: 15px;
  padding:10px 0;
  line-height: 1.8;
}

.container-fluid .box-container-fluid .box:hover{
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.02);
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  text-align: center;
}

.card img {
  width: 100%; 
  height: auto; 
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: black;
  background-color: grey;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: grey;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/*Product Page*/

/*Services Page*/
.container .box-container .box{
  border-radius: 10px;
  background: #fff;
  text-align: center;
  padding:30px 20px;
}

.container .box-container .box img{
  height: 80px;
}

.container .box-container .box h3{
  color:#444;
  font-size: 22px;
  padding:10px 0;
}

.container .box-container .box p{
  color:#777;
  font-size: 15px;
  line-height: 1.8;
}

.container .box-container .box .btn{
  margin-top: 10px;
  display: inline-block;
  background:#333;
  color:#fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

@media (max-width:768px){
  .container{
      padding:20px;
  }
}

/*Review & Feedback*/

.main-block, .info-Feedback 
{
    display: flex;
    flex-direction: column;
}
.main-block 
{
    padding-top: 3%;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}
.form-Feedback
{
    width: 50%; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb; 
}
.info-item-Feedback
{
    width: 100%;
}
      
input
{
   width: calc(100% - 57px);
      height: 36px;
      padding-left: 10px; 
      border-radius: 0 5px 5px 0;
      border: solid 1px #cbc9c9;
      box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
      background: #fff; 
      }
      .icon-Feedback {
      padding: 9px 15px;
      margin-top: -1px;
      border-radius: 5px 0 0 5px;
      border: solid 0px #cbc9c9;
      background: #666;
      color: #fff;
      }
      input[type=radio] {
      display: none;
      }
      label.radio-Feedback {
      position: relative;
      display: inline-block;
      text-indent: 32px;
      cursor: pointer;
      }
      label.radio-Feedback:before {
      content: "";
      position: absolute;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 0.5px solid #8ebf42;
      background: #fff;
      }
      label.radio-Feedback:after {
      content: "";
      position: absolute;
      width: 8px;
      height: 4px;
      top: 5px;
      left: 4px;
      border-bottom: 3px solid #8ebf42;
      border-left: 3px solid #8ebf42;
      transform: rotate(-45deg);
      opacity: 0;
      }
      input[type=radio]:checked + label:after {
      opacity: 1;
      }
      textarea {
      width: 99%;
      margin-bottom: 12px;
      }
      button {
      width: 100%;
      padding: 8px;
      border-radius: 5px; 
      border: none;
      background: #8ebf42; 
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      }
      button:hover {
      background: #82b534;
      }
      .grade-type-Feedback div {
      display: flex;
      margin: 6px 0;
      }
      @media (min-width: 568px) {
      .info-Feedback {
      flex-flow: row wrap;
      justify-content: space-between;
      }
      .info-item-Feedback {
      width: 48%;   
      }
      }


/*Contact Page*/
.mapouter{
  position:relative;
  text-align:right;
  width:100%;
  height:400px;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  width:100%;
  height:400px;
}

.gmap_iframe {
  height:400px!important;
}

.contact-parent{
  background: #fff;
  display:flex;
  margin:80px 0;
}

.contact-child{
  display:flex;
  flex:1;
  box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75);
}

.child1{
  background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("img/contact.jpg");
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  color:#fff;
  padding:100px 0;
}

.child1 p{
  padding-left:20%;
  font-size:20px;
  text-shadow:0px 0px 2px #000;
}

.child1 p span{
  font-size:16px;
  color:#9df2fd;
}

.child2{
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.inside-contact{
  width:90%;
  margin:0 auto;
}

.inside-contact h2{
  text-transform:uppercase;
  text-align:center;
  margin-top:50px;
}

.inside-contact h3{
  text-align:center;
  font-size:16px;
  color:#0085e2;
}

.inside-contact input, .inside-contact textarea{
  width:100%;
  background-color:#eee;
  border:1px solid rgba(0,0,0,0.48);
  padding:5px 10px;
  margin-bottom:20px;
}

.inside-contact input[type=submit]{
  background-color:#000;
  color:#fff;
  transition:0.2s;
  border:2px solid #000;
  margin:30px 0;
}

.inside-contact input[type=submit]:hover{
  background-color:#fff;
  color:#000;
  transition:0.2s;
}

@media screen and (max-width:991px){
  .contact-parent{
      display:block;
      width:100%;
  }

  .child1{
      display:none;
  }

  .child2{
      background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
      background-size:cover;
  }

  .inside-contact input, .inside-contact textarea{
      background-color:#fff;
  }
}

section {
  float: left;
  width: 100%;
padding-bottom:3em;
}
h2 {
  color: #1a0e0e;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  line-height: normal;
text-transform:uppercase;
}
h2 span {
  display: block;
  padding: 0;
  font-size: 18px;
  opacity: 0.7;
  margin-top: 5px;
text-transform:uppercase;
}

#float-right{
float:right;	
}

.rt-container {
margin: 0 auto;
padding-left:12px;
padding-right:12px;
}
.rt-row:before, .rt-row:after {
display: table;
line-height: 0;
content: "";
}

.rt-row:after {
clear: both;
}
[class^="col-rt-"] {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
padding: 0 15px;
min-height: 1px;
position: relative;
}


@media (min-width: 768px) {
.rt-container {
  width: 750px;
}
[class^="col-rt-"] {
  float: left;
  width: 49.9999999999%;
}
.col-rt-6, .col-rt-12 {
  width: 100%;
}

}

@media (min-width: 1200px) {
.rt-container {
  width: 1170px;
}
.col-rt-1 {
  width:16.6%;
}
.col-rt-2 {
  width:30.33%;
}
.col-rt-3 {
  width:50%;
}
.col-rt-4 {
  width: 67.664%;
}
.col-rt-5 {
  width: 83.33%;
}
}

